@media screen and (min-width: 0){
    .logo {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .logo {
        display: block;
    }
}

.logo{
    border: 1px solid none;
    border-radius: 5px;    
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #B0C4DE;
}