.preparo{
    /*background: #fdfdfd;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;   
      
    /*margin-right: 5rem; transferido para 992px*/
    /*width: calc(25% - 5rem); transferido para 768px*/
}

@media screen and (min-width: 0) {
    .preparo {
        margin-right: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .preparo {
        margin-right: 2.5rem;
        width: calc(33% - 2.5rem)
    }
}

@media screen and (min-width: 992px) {
    .preparo {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}